.nav-item .nav-link, .navbar-brand{
    color: white;
    cursor: pointer;
}

.nav-item .nav-link .active{
    color: #fff;
    cursor: pointer;
}

.navbar-toggler{
    background-color: #fff!important;
}

.nav-item{
    cursor: pointer;  
}

.active {
  background-color: rgb(255, 0, 64); /* Change to your desired active state style */
  color: #fff!important;
  border-radius: 5px; /* Change to your desired active state style */
}